html, body {
    height: 100%;
    width: 100%;
    background-color: #f6f8fa !important;
}

.left,
.center,
.right {
    float: left;
    height: 100%;
}

.left {
    width: 20%;
    border-right: 1px solid #e1e4e8 !important;
    background-color: white;
}

.left input {
    margin: 20px 30px;
    width: calc(100% - 60px);
    background-color: #f6f8fa;
    border: 0;
    height: 30px;
    padding: 0 10px;
    border-radius: 5px;
}

.left li {
    font-size: 16px;
    padding: 10px 30px;
}

.left li:hover {
    padding: 10px 30px 10px 27px;
    background-color: #f6f8fa;
    border-left: 3px solid #5A6169;
}

.left .label-name {
    color: #5A6169 !important;
    margin-left: 10px;
}

.center {
    width: 55% !important;
}

.right {
    width: 25%;
}

@media screen and (max-width: 1024px) {
    .right {
        display: none;
    }
}